@{
    ViewBag.Title = "Contatti";
}

<div id="main_contacts">
    <main id="main_contact">
        <div class="left_side">
            <h1 style="font-family: 'Abril Fatface', serif;">Contatta lo Studio M+ Associati</h1>
            @*<h4>Do you need the coolest and the most awesome platform to manage your project?! You have walked to the right place!</h4>*@
            @*<button class="main_btn">Ingegneria</button>*@
            <@*button class="outline_btn">#Ingegneria</button>
            <button class="outline_btn">#Architettura</button>*@
        </div>

    </main>
</div>

<section class="section_contact">
    <div class="item">
        <h5 style="color: #333">Telefono / E-Mail</h5>
        <p>(+39) 0362 221543 / studio@mpiuassociati.it</p>
    </div>
    <div class="item">
        <h5 style="color: #333">Dove Siamo</h5>
        <p>Seregno (MB) 20831, Via Guido Gozzano 6</p>
    </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.8936377734117!2d9.212414515431064!3d45.652957679103665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786bcf17a7a5873%3A0x7aa1b050e9a74d53!2sVia%20Guido%20Gozzano%2C%2020831%20Seregno%20MB%2C%20Italia!5e0!3m2!1sit!2sus!4v1590530562461!5m2!1sit!2sus" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>