<div id="main_studios">
    <main id="main_studio">
        <div class="left_side">
            <h1 style="font-family: 'Abril Fatface', serif;">Lo Studio M+ Associati</h1>
            <h4>Seregno (MB) 20831, Via Guido Gozzano 6</h4>
        </div>
    </main>
</div>

<section id="team" class="team content-section">
    <div class="center_size">
        <h1 id="center_h1" style="font-family: 'Abril Fatface', serif;">I Soci M+</h1>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                            </figure>
                            <h4 style="font-weight: 600; color: #222">Luca Maria Magnaghi</h4>
                            <p style="color: #222">Fondatore & Ingegnere</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/jessie-barnett.jpg" alt="" class="img-responsive">
                            </figure>
                            <h4 style="font-weight: 600; color: #222">Matteo Maria Magnaghi</h4>
                            <p style="color: #222">Fondatore & Architetto</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                            </figure>
                            <h4 style="font-weight: 600; color: #222">Agostino Mauri</h4>
                            <p style="color: #222">Fondatore & Ingegnere</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-home">
    <main>
        <div id="articles">
            <article id="article-three">
                <div>
                    <span class="topic">soddisfazione garantita</span>
                </div>
            </article>
            <article id="article-four">
                <div>
                    <span class="topic">consulenza professionale</span>
                </div>
            </article>
        </div>
    </main>
</div>

@*<section id="sec">*@
@*<h1 style="color: whitesmoke; font-family: 'Abril Fatface', serif;">Programmi Utilizzati </h1>*@
<div style="background-color: black;">
    <div class="grid-collaborazioni">
        <div><img src="https://professionistiacqua.it/wp-content/uploads/2018/04/autodesk-autocad-logo-vector.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architectural-digest.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/architizer.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/car-and-driver.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/contemporist.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/dwell.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/houzz.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/hypebeast.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/interior-design.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/los-angeles-times.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/metropolitan-home.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/robb-report.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/sports-illustrated.png" alt=""></div>
        <div><img src="https://csstricks-images.s3.us-east-1.amazonaws.com/logos/sunset-magazine.png" alt=""></div>
    </div>
</div>
@* </section> *@