[class^="swiper-button-"] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    float: left;
    -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, -webkit-transform .3s ease;
    transition: opacity .6s ease, transform .3s ease;
    transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}

    .swiper-container.nav-slider {
        width: 20%;
        padding-left: 5px;
    }

    .swiper-container-vertical {
        display: none;
    }

    .swiper-container.nav-slider .swiper-slide {
        cursor: pointer;
        opacity: .4;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }

            .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
                opacity: 1;
            }

            .swiper-container.nav-slider .swiper-slide .content {
                width: 100%;
            }

                .swiper-container.nav-slider .swiper-slide .content .title {
                    font-size: 20px;
                }

    .swiper-container:hover .swiper-button-prev,
    .swiper-container:hover .swiper-button-next {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .swiper-container.loading {
        opacity: 0;
        visibility: hidden;
    }

.swiper-slide {
    overflow: hidden;
}

    .swiper-slide .slide-bgimg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .swiper-slide .entity-img {
        display: none;
    }

    .swiper-slide .content {
        position: absolute;
        top: 90%;
        left: 0;
        width: 50%;
        padding-left: 5%;
        color: #fff;
    }

        .swiper-slide .content .title {
            font-size: 2.6em;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .swiper-slide .content .caption {
            display: block;
            font-size: 13px;
            line-height: 1.4;
            -webkit-transform: translateX(50px);
            transform: translateX(50px);
            opacity: 0;
            -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
            transition: opacity .3s ease, -webkit-transform .7s ease;
            transition: opacity .3s ease, transform .7s ease;
            transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
        }

            .swiper-slide .content .caption.show {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}





























#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    #intro .carousel-item::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
}

#intro .carousel-content {
    text-align: center;
}

#intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

#intro .carousel-fade {
    overflow: hidden;
}

    #intro .carousel-fade .carousel-inner .carousel-item {
        transition-property: opacity;
    }

    #intro .carousel-fade .carousel-inner .carousel-item,
    #intro .carousel-fade .carousel-inner .active.carousel-item-left,
    #intro .carousel-fade .carousel-inner .active.carousel-item-right {
        opacity: 0;
    }

    #intro .carousel-fade .carousel-inner .active,
    #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
    #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
        opacity: 1;
        transition: 0.5s;
    }

        #intro .carousel-fade .carousel-inner .carousel-item-next,
        #intro .carousel-fade .carousel-inner .carousel-item-prev,
        #intro .carousel-fade .carousel-inner .active.carousel-item-left,
        #intro .carousel-fade .carousel-inner .active.carousel-item-right {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}


#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #c20000;
}

    #intro .btn-get-started:hover {
        background: #fff;
        color: #c20000;
    }