@import url(//fonts.googleapis.com/css?family=Abril+Fatface|Droid+Serif:400,700,400italic,700italic);

.blog-card1:hover h3:after {
    animation: changeLetter 0.3s 1 linear;
    width: 80%
}

.blog-card1 h3, h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display: inline-block;
}

    .blog-card1 h3 a {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.2s
    }

        .blog-card1 h3 a:hover {
            text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
        }

h3:after {
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #E50914;
    transition: all 0.2s
}

#nav_bar > div > div.navbar-collapse.collapse > ul > li > a:hover:after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid whitesmoke;
}

.licon {
    position: relative;
    width: 23px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

    .licon:before {
        content: "";
        background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
        background-size: 250px;
        width: 26px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: -3px;
        left: 0;
    }

.icon-white {
    filter: brightness(10);
}

.icon-black {
    filter: brightness(0);
    opacity: 0.6
}

.icon-like:before {
    background-position: -183px -6px;
}

.icon-com:before {
    background-position: -63px -4px;
}

.icon-dat:before {
    background-position: -94px -7px;
}

.icon-tag:before {
    background-position: -33px -6px;
}

.navbar-nav {
    float: right !important;
    margin-right: 5%;
}